<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button *ngIf="!isDeviceConnected && isEnabled" (click)="connect()">ᛒ Bluetooth</ion-button>
    </ion-buttons>
    <ion-title>Maquina</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="isDeviceConnected" (click)="disconnect()">Desconectar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!isDeviceConnected" [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Paso 1</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Conectate al dispositivo del TinyML Kit, para comprender celulas animales, vegetales cómo microorganismos cómo el VIH, Ebola y celulas de la sangre cómo los globulos rojos.
      </p>
      <ion-text color="warning" *ngIf="!isEnabled">Recuerde que debe tener el bluetooth activado para usar la aplicación.</ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content *ngIf="isDeviceConnected" [fullscreen]="true">
  <ion-card class="ion-margin">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Control</ion-card-title>
    </ion-card-header>
    <ion-button class="ion-padding-horizontal ion-padding-bottom" expand="block" color="warning"
      (click)="sendInferRequest()">
      Analizar Imagen
    </ion-button>
  </ion-card>

  <ion-card *ngIf="inferResult === 'Prueba'">
    <ion-card-header>
      <ion-card-title>Paso 2</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <div class="ion-padding-vertical">
        Presiona el botón "Analizar Imagen" para enviar un comando al arduino que iniciara el proceso de inferencia y mostrará la información del resultado junto a una imagen y descripción de la clase arrojada.
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="inferResult === 'ANI'">
    <ion-card-header>
      <ion-card-title>Celula Animal</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="/assets/ani.jpg" alt="celula animal">
      </ion-img>
      <div class="ion-padding-vertical">
        Una célula animal es el tipo de célula eucariota de la que están compuestos los tejidos animales. La célula
        animal es una célula eucariota caracterizada por la presencia de núcleo, membrana plasmática y citoplasma.
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="inferResult === 'VIH'">
    <ion-card-header>
      <ion-card-title>VIH</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="/assets/vih.jpg" alt="vih">
      </ion-img>
      <div class="ion-padding-vertical">
        VIH significa virus de inmunodeficiencia humana. Daña su sistema inmunitario al destruir un tipo de glóbulo
        blanco que ayuda a su cuerpo a combatir las infecciones.
      </div>
    </ion-card-content>
  </ion-card>
  
  <ion-card *ngIf="inferResult === 'EBO'">
    <ion-card-header>
      <ion-card-title>Ebola</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="/assets/ebo.jpg" alt="ebola">
      </ion-img>
      <div class="ion-padding-vertical">
        La enfermedad por el virus del Ebola (EVE), antes llamada fiebre hemorrágica del Ebola, es un enfermedad grave,
        a menudo mortal en el ser humano. El virus es transmitido al ser humano por animales salvajes y se propaga en
        las poblaciones humanas por transmisión de persona a persona.
      </div>
    </ion-card-content>
  </ion-card>
  
  <ion-card *ngIf="inferResult === 'GLO'">
    <ion-card-header>
      <ion-card-title>Globulos rojos</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="/assets/glo.jpg" alt="globulo">
      </ion-img>
      <div class="ion-padding-vertical">
        Los glóbulos rojos son un componente importante de la sangre. Su función es transportar oxígeno a los tejidos
        corporales e intercambiarlo por dióxido de carbono, el cual es transportado y eliminado por los pulmones.
      </div>
    </ion-card-content>
  </ion-card>
  
  <ion-card *ngIf="inferResult === 'VEG'">
    <ion-card-header>
      <ion-card-title>Celulas vegetales</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <ion-img src="/assets/veg.jpg" alt="vegetales">
      </ion-img>
      <div class="ion-padding-vertical">
        Una célula vegetal es el tipo de célula eucariota de la que están compuestos por muchos tejidos vegetales. A
        menudo, es descrita con los rasgos de una célula del parénquima de una planta vascular. Pero sus características
        no pueden generalizarse con el resto de las células meristemáticas o adultas de una planta y menos aún a las de
        los muy diversos organismos imprecisamente llamados vegetales.
      </div>
    </ion-card-content>
  </ion-card>
  
</ion-content>